/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary:
#0D022E

- Second:
#EC8305
#FB773C
#F6B17A
#A25772

- Text: 
#B2BEED

- Accents:
Accent of #0D022E (Primary)
#251b43

  Accent of #A25772 (Secondary)
  #b5798e

  Accent of #FB773C (Secondary)
  #c95f30


--- 05 SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS
Small: 8px

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #b2beed;
  background-color: #0d022e;

  overflow-x: hidden;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/
.container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 5.2rem;
  margin-bottom: 4.4rem;
}

.heading-secondary {
  font-size: 4.4rem;
  margin-bottom: 4.4rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}

.grid {
  display: grid;
  place-items: center;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.margin-bottom {
  margin-bottom: 6.4rem;
}

.active {
  outline: 1px solid #b2beed;
  background-color: #21183c;
  border-radius: 50px;
}

.hidden {
  display: none;
}

.bold {
  font-weight: 600;
}

.icon-check {
  height: 2.4rem;
  width: 2.4rem;
  flex-shrink: 0;
}

.section-text {
  font-size: 1.6rem;
  padding: 0 3.2rem 8rem 0;
}

.red-color {
  color: rgba(255, 0, 0, 0.6);
}
