/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 84em) {
  .container {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .hero-description {
    font-size: 2.2rem;
  }

  .section-why {
    padding: 9.6rem 4.8rem;
  }

  .collab .grid {
    column-gap: 4.4rem;
  }

  .stage-content.is-flipped .card-inner {
    transform: scale(1.35) rotateY(180deg);
  }

  .feedback-text {
    font-size: 1.6rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
@media (max-width: 44em) {
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 34em) {
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
