/* ///// HEADER ///// */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 4.8rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-link-nav:link,
.main-link-nav:visited {
  display: inline-block;
  text-decoration: none;
  color: #b2beed;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-link-nav:hover,
.main-link-nav:active {
  color: #fb773c;
}

.main-link-nav.nav-cta:link,
.main-link-nav.nav-cta:visited {
  background-color: #fb773c;
  color: #251b43;
  padding: 1.2rem 1.6rem;
  border-radius: 8px;
}

.main-link-nav.nav-cta:hover,
.main-link-nav.nav-cta:active {
  background-color: #c95f30;
}

/* ///// MAIN SECTION ///// */
/* KIM JESTEM */
.section-hero {
}

.hero-box {
  padding: 4.8rem;
}

.left-box {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.hero-description {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.heading-secondary {
  font-size: 4.4rem;
  margin-bottom: 4.4rem;
}

.header-img {
  height: 45%;
}

/* PO CO MI STRONA? */
.section-why {
  height: 10rem;
  background-color: #251b43;
}
